@* @using Pokemon.Dashboard.Model *@
@* @using Pokemon.Dashboard.Services *@
@* @inject PokemonService pokemonService *@
@* *@
@* @code { *@
@*     [Parameter] public string pokemonName { get; set; } = "pikachu"; *@
@*     private Pokemon? _pokemon; *@
@* *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         _pokemon = await pokemonService.GetPokemonAsync(pokemonName); *@
@*     } *@
@* } *@
@* *@
@* <MudCard> *@
@*     <MudCardContent> *@
@*         @if (_pokemon != null) *@
@*         { *@
@*             <h3>@_pokemon.name</h3> *@
@*             <p>@_pokemon.height</p> *@
@*             <p>@_pokemon.weight</p> *@
@*             <p>@_pokemon.order</p> *@
@*              *@
@*             <p>@_pokemon.base_experience</p> *@
@*              *@
@*             <p>@_pokemon.is_default</p> *@
@*             <img src="@_pokemon.sprites?.front_default" alt="@_pokemon.name" style="width: 150px; height: 150px; object-fit: contain;" /> *@
@*         } *@
@*         else *@
@*         { *@
@*             <p>Pokémon ttt geladen...</p> *@
@*         } *@
@*     </MudCardContent> *@
@* </MudCard> *@
@using Pokemon.Dashboard.Model
@using Pokemon.Dashboard.Services
@inject PokemonService pokemonService

@code {
    [Parameter] public string PokemonName { get; set; } = "pikachu";
    private Pokemon? _pokemon;

    protected override async Task OnInitializedAsync()
    {
        _pokemon = await pokemonService.GetPokemonAsync(PokemonName);
    }
}

<MudCard Style="width: 200px; height: 300px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <MudCardContent>
        @if (_pokemon != null)
        {
            <h3>@_pokemon.name</h3>
            <p>Größe: @_pokemon.height</p>
            <p>Gewicht: @_pokemon.weight</p>
            <img src="@_pokemon.sprites?.front_default" alt="@_pokemon.name" style="width: 150px; height: 150px; object-fit: contain;" />
        }
        else
        {
            <p>Pokémon wird geladen...</p>
        }
    </MudCardContent>
</MudCard>
